# build directory
build/

# editor files (when needed, add explicitly)
.vscode/

# Python environment
.venv/

# Python cache
__pycache__/

# Intermediate files
synth.v
synth.blif
synth.json
temp.ys
*.vcd
